.footer__nav-item {
  margin-right: 18px;
  padding: 0;
  box-sizing: border-box;
}

.footer__nav-item:last-child {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__nav-item {
    margin: 0;
    padding-bottom: 32px;
  }

  .footer__nav-item:last-child {
    padding: 0;
  }
}